%h1 Welcome to the XapianDb Rails Demo

=form_tag people_path, :method => :get do
  ="Enter your query:"
  =text_field_tag :search, params[:search]
  =submit_tag "Search"

-if @page.size > 0
  %h2 Results
  -if @page.spelling_suggestion
    =link_to "Did you mean #{@page.spelling_suggestion} ?", people_path(:search => @page.spelling_suggestion)
  %ul
  -@page.each do |doc|
    %li
      =link_to person_doc_as_string(doc), edit_person_path(doc.id)
  %p
  =will_paginate @page
