.rvmrc
.bundle
coverage/*
Gemfile.lock
*.gem
*.tmproj
*.sublime-project
*.sublime-workspace
doc
.yardoc
examples/basic_rails/db/xapian_db
examples/basic_rails/db/*.sqlite3
examples/basic_rails/log
examples/basic_rails/tmp